#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color:#DB7093;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  top: 0;
  z-index: 2;
}

#nav-bar button img {
  width: 15px;
  height: 15px;
}

#nav-bar .header {
  float: left;
  line-height: 80px;
  font-size: 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}


